span {
    color: red;
}

body {
    width: 1000px;
    margin: auto;
    background: linear-gradient( 160deg, #4567b2 20%, #8ab9ff 20%, #8ab9ff 80%, #4567b2 80%);
}

#header {
    height: 200px;
    width: 1000px;
    background-color: transparent;
    margin: auto;
}

#content {
    height: 1000px;
    width: 1000px;
    background-color: transparent;
    margin: auto;
}

#footer {
    height: 100px;
    width: 1000px;
    background-color: cadetblue;
    margin: auto;
}

#welcome {
    height: 100px;
    width: 400px;
    object-fit: fill;
}

#menu {
    width: 200px;
    height: 1000px;
    background-color: darkseagreen;
    padding: 0;
    float: left;
}

#productList {
    width: 770px;
    height: 1000px;
    float: left;
    background-color: darkseagreen;
    margin-left: 30px;
}

.menuItem {
    display: block;
    position: static;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #3399ff;
}

.menuItem:hover {
    background-color: darkblue;
}

.menuItem p:hover {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.product {
    width: 200px;
    height: 200px;
    margin: 24px;
    float: inherit;
    display: inline-flex;
}

.product:hover {
    background-color: #3399ff
}

.product img {
    width: 160px;
    height: 160px;
    margin: 20px;
}

#email {
    opacity: 1;
    cursor: pointer;
    display: block;
}

.box {
    position: absolute;
    opacity: 0;
}

.box:hover {
    opacity: 1;
}

.boxImg {
    position: absolute;
    opacity: 0.8;
}

.btn-add {
    position: absolute;
    background-color: darkgreen;
    color: whitesmoke;
    font-size: 10px;
    height: 40px;
    width: 60px;
    text-align: center;
    margin-left: 30px;
    margin-top: 70px;
    line-height: 10px;
    opacity: 0.8;
}

.btn-add:hover {
    background-color: green;
}

.btn-remove {
    position: absolute;
    background-color: darkred;
    opacity: 0.8;
    color: whitesmoke;
    font-size: 10px;
    height: 40px;
    width: 60px;
    text-align: center;
    margin-left: 110px;
    margin-top: 70px;
    line-height: 10px;
}

.btn-remove:hover {
    background-color: red;
}

.price {
    position: absolute;
    background-color: rgb(235, 40, 40);
    opacity: 0.8;
    color: whitesmoke;
    font-size: 16px;
    height: 40px;
    width: 160px;
    text-align: justify;
    margin-top: 140px;
    margin-left: 20px;
    line-height: 10px;
    text-indent: 3px;
}

.addButton p {
    text-align: center;
    font: caption;
}

.removeButton p {
    text-align: center;
    font: caption;
}

.price p {
    text-align: center;
    font: caption;
}

.menuItem p {
    text-align: center;
    font: caption;
    color: azure;
    font-size: 40px;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
}

#btn-show-cart {
    position: absolute;
    background-color: cornflowerblue;
    opacity: 0.8;
    color: whitesmoke;
    font-size: 20px;
    height: 60px;
    width: 120px;
    text-align: center;
    margin-right: 0px;
    margin-left: 680px;
    margin-top: 140px;
    line-height: 10px
}

#btn-show-cart:hover {
    background-color: #8ab9ff;
}

#modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
    height: 100%;
}

table {
    float: left;
}

th,
td {
    border: 1px solid black;
}

.btn-cartAdd {
    background-color: darkgreen;
    color: whitesmoke;
    font-size: 5px;
    height: 20px;
    width: 30px;
    opacity: 0.8;
    margin: 15% auto;
}

.btn-cartAdd:hover {
    background-color: green;
}

.btn-cartRemove {
    background-color: darkred;
    color: whitesmoke;
    font-size: 5px;
    height: 20px;
    width: 30px;
    opacity: 0.8;
    margin: 15% auto;
}

.btn-cartRemove:hover {
    background-color: red;
}

#btn-hide-cart {
    width: 40px;
    height: 40px;
    background-color: darkred;
    float: left;
}

#btn-hide-cart:hover {
    background-color: red;
}

#btn-hide-cart p {
    text-align: center;
    font: caption;
    color: aqua;
    margin: auto;
}