span {
    color: red;
}

body {
    background: linear-gradient( 160deg, #4567b2 20%, #8ab9ff 20%, #8ab9ff 80%, #4567b2 80%);
}

#header {
    height: 200px;
    width: 1000px;
    background-color: transparent;
    margin: auto;
}

#content {
    height: 1000px;
    width: 1000px;
    background-color: transparent;
    margin: auto;
}

#footer {
    height: 100px;
    width: 1000px;
    background-color: cadetblue;
    margin: auto;
}

#welcome {
    height: 100px;
    width: 400px;
    object-fit: fill;
}

#menu {
    width: 200px;
    height: 1000px;
    background-color: darkseagreen;
    padding: 0;
    float: left;
}

#productList {
    width: 770px;
    height: 1000px;
    float: left;
    background-color: darkseagreen;
    margin-left: 30px;
}

.menuItem {
    display: block;
    font-size: 50px;
    position: static;
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    font-style: unset;
    font-size: 40px;
    background-color: #3399ff;
    color: azure;
    text-indent: 7px;
}

.menuItem:hover {
    background-color: darkblue
}

ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.product {
    width: 200px;
    height: 200px;
    margin: 24px;
    float: inherit;
    display: inline-flex;
}

.product:hover {
    background-color: #3399ff
}

.product img {
    width: 160px;
    height: 160px;
    margin: 20px;
}

.menuItem:hover {
    background-color: darkblue
}

#email {
    opacity: 0;
    background-color: black;
}

#email:hover {
    cursor: pointer;
    display: block;
    opacity: 1;
    background-color: whitesmoke;
}

.box {
    position: absolute;
    opacity: 0;
}

.box:hover {
    opacity: 1;
}

.boximg {
    position: absolute;
    opacity: 0.8;
}

.addbutton {
    position: absolute;
    background-color: green;
    color: whitesmoke;
    font-size: 16px;
    height: 40px;
    width: 60px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 70px;
    line-height: 10px;
    text-indent: 17px;
    opacity: 0.8;
}

.rebutton {
    position: absolute;
    background-color: rgb(235, 80, 80);
    opacity: 0.8;
    color: whitesmoke;
    font-size: 16px;
    height: 40px;
    width: 60px;
    text-align: justify;
    margin-left: 110px;
    margin-top: 70px;
    line-height: 10px;
    text-indent: 3px;
}